{% load static %}
<html>
  <head>
    {% include 'head.html' %}
    <title>2600chan - {{ title|default:"NaN!" }}</title>
  </head>
  <body>
    <header class="header">
      <div class="board-list">
      {% for board in boards %}
      <a href="/board/{{ board.slug }}/">/{{ board.slug }}/</a>
      {% endfor %} 
      </div>
      <div class="banner">
        <a href="/"><img src="{% static "chan/images/banner0.jpg" %}"></img></a>
      </div>
      <div class="title">
        {% if board %}
        <a href="/board/{{ board.slug }}"><h1>{{ title|default:"NaN!" }}</h1></a>
        {% if thread %}
        <div class="new-thread-link"><a href="/thread/{{ thread.id }}/reply/">[ reply ]</a></div>
        {% else %}
        <div class="new-thread-link"><a href="/board/{{ board.slug }}/new_thread/">[ new thread ]</a></div>
        {% endif %}
        {% else %}
        <h1>{{ title|default:"NaN!" }}</h1>
        {% endif %}
      </div>
    </header>
    <div class="container" id="main">
      {% block content %}{% endblock %}
    </div>
  </body>
  <div class="footer">
      <div class="board-list-bottom">
      {% for board in boards %}
      <a href="/board/{{ board.slug }}/">/{{ board.slug }}/</a>
      {% endfor %} 
  </div>
</html>
