{% load cloudinary %}
{% load chan_extras %}
{% for post in thread.preview_posts %}
  {% if forloop.first %}
  <div class="thread-op">
    {% if post.image %}
    {% cloudinary post.image class="thumb" %}
    {% endif %}
    <div class="post-details">
      <span class="thread-subject">{{ thread.subject }}</span>
      <span class="post-author">{{ post.author }}</span>
      <span class="post-date">{{ post.created_at|date }} {{ post.created_at|time }}</span>
      <span class="post-id">No. {{ post.id }}</span>
    </div>
    <div class="thread-body">
    {{ post.body|markdownify|safe }}
    </div>
    <div class="thread-more">
      {{ thread.posts.count }} posts. <a href="/thread/{{ thread.id }}/#{{ thread.id }}">Click here</a> to view
    </div>
  </div>
  {% else %}
  <div class="post">
    <a name="{{ post.id }}"></a>
    <div class="post-details">
      <span class="post-author">{{ post.author }}</span>
      <span class="post-date">{{ post.created_at|date }} {{ post.created_at|time }}</span>
      <span class="post-id">No. {{ post.id }}</span>
    </div>
    {% if post.image %}
    {% cloudinary post.image class="thumb" %}
    {% endif %}
    {{ post.body|markdownify|safe }}
  </div>
  <br>
  {% endif %}
{% endfor %}
