{% load chan_extras %}
{% load cloudinary %}
<div class="thread-op">
    <a name="{{ thread.id }}"></a>
  {% if post.image %}
  {% include 'file-details.html' %}
  {% include 'post-image.html' %}
  {% endif %}
  {% include 'post-details.html' %}
  <div class="thread-body">
  {% if page %}
  {{ post.body|truncatechars:500|markdownify|safe }}
  {% else %}
  {{ post.body|markdownify|safe }}
  {% endif %}
  </div>
  {% if thread_more %}
  <div class="thread-more">
    <a href="#{{ thread.id }}" 
      onclick="expandThread({{thread.id}})" class="expand-thread" data-thread-id="{{ thread.id }}">+</a>
    {{ thread.posts.count }} post{{ thread.posts.count|pluralize }}. <a href="/thread/{{ thread.id }}/#{{ thread.id }}">Click here</a> to view
  </div>
  {% endif %}
</div>
