* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    position: relative;
}

body {
    font-family: sans-serif;
    margin-bottom: 70px;
}

a {
    text-decoration: none;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 35px;
    width: 100%;
}

.banner {
    margin: 20px;
    text-align: center;
}

.banner img {
    width: 500px;
    height: auto;
}

.header .title {
    text-align: center;
}

.title h1 {
    display: inline-block;
}

.header {
}

.board-list {
    background-color: #ddd;
    padding: 10px;
    font-size: 12px;
}

.board-list a {
    padding-left: 10px;
    padding-right: 10px;
}

.index-board-list {
    width: 400px;
    margin: auto;
    list-style: none;
    padding: 20px;
    background: #ddd;
}

.index-board-list li {
    margin-top: 10px;
    margin-bottom: 10px;
}

.container {
    padding: 20px;
    min-height: 400px;
}

.thread {
    border-top: 1px solid #aaa;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: auto;
}

.thread-op {
    margin: 10px;
}
.thread-body {
    min-height: 50px;
}
.post {
    margin: 10px;
    padding: 20px;
    background-color: #ddd;
    display: inline-block;
    clear: both;
    min-width: 50%;
}

.thumb {
    float: left;
    margin-right: 20px;
    width: 200px;
    height: auto;
}

.thumb:hover {
    cursor: pointer;
}

.thumb-selected {
    float: left;
    margin-right: 20px;
    max-width: 100%;
    width: auto;
    height: auto;
}

.thread-more {
    margin-top: 10px;
}

.post-details {
    margin-bottom: 10px;
}

.post-details .thread-subject {
    color: purple;
    font-weight: bold;
}

.post-details .post-author {
    font-weight: bold;
}

.new-form {
    width: 400px;
    margin: auto;
    padding: 10px;
    background: #ddd;
    text-align: left;
}

.new-form input {
    border: 1px solid #aaa;
    border-radius: 5px;
    width: 100%;
    height: 20px;
}

.new-form textarea {
    border: 1px solid #aaa;
    border-radius: 5px;
    width: 100%;
}

.new-form .submit {
    width: 80px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}

.new-thread-link {
    display: block;
    margin-top: 20px;
}

ul.errorlist {
    list-style: none;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background: #8e0815;
    color: white;
}

.post blockquote {
    color: green;
}

.post-replies {
    padding-left: 5px;
}

.post-replies a {
    padding-left: 5px;
    font-size: 12px;
}

.post-file-details {
    margin-bottom: 10px;
    font-size: 12px;
}

.clearfix {
    clear: both;
}

.clearfix::after {
    content: "";
}

.embed-link {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.page-link-active {
    font-weight: bold;
}

.pagination {
    border-top: 1px solid #aaa;
    padding-top: 10px;
    padding-left: 10px;
}
