* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    position: relative;
}

body {
    font-family: sans-serif;
    margin-bottom: 70px;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50px;
    width: 100%;
}

.banner {
    margin: 20px;
    text-align: center;
}

.banner img {
    width: 500px;
    height: auto;
}

.header .title {
    text-align: center;
}

.header {
}

.board-list {
    background-color: #ddd;
    padding: 20px;
    font-size: 12px;
}

.board-list-bottom {
    background-color: #ddd;
    padding: 20px;
    font-size: 12px;

}

.board-list a {
    padding-left: 10px;
    padding-right: 10px;
}

.board-list-bottom a {
    padding-left: 10px;
    padding-right: 10px;
}

.index-board-list {
    width: 400px;
    margin: auto;
    list-style: none;
    padding: 20px;
    background: #ddd;
}

.index-board-list li {
    margin-top: 10px;
    margin-bottom: 10px;
}

.container {
    padding: 20px;
}

.thread {
    border-top: 1px solid #aaa;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: auto;
}

.thread-op {
    margin: 10px;
}
.post {
    margin: 10px;
    padding: 20px;
    background-color: #ddd;
    display: inline-block;
    clear: both;
}

.thumb {
    float: left;
    margin-right: 20px;
}

.thumb {

}

.thread-more {
    margin-top: 10px;
}

.post-details {
    margin-bottom: 10px;
}

.post-details .thread-subject {
    color: purple;
    font-weight: bold;
}

.post-details .post-author {
    font-weight: bold;
}

.new-form {
    width: 400px;
    margin: auto;
    padding: 10px;
    background: #ddd;
}

.new-form input {
    border: 1px solid #aaa;
    border-radius: 5px;
    width: 100%;
    height: 20px;
}

.new-form textarea {
    border: 1px solid #aaa;
    border-radius: 5px;
    width: 100%;
}

.new-form .submit {
    width: 80px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}
